<!-- 2A vamos a empezar a construir el Formulario necesitamos el titulo y desc-->

<!-- A11 capturando desde el padre:
     aqui tengo que decirle que voya ainteractuar con el evento (tareaCreada) 
    ...luego lo lanzo sobre la funcion que yo quiera  ejem onTareaCreada 
     el cual definiremos en el ts-->
<div>
     <app-formulario (tareaCreada)="onTareaCreada($event)"></app-formulario>
</div>
     
<!-- A13 pasando las tareas a la  lista  
lo que tenemos que hacer es dentro del compoente lista generar un Input -->
<!-- A15 incorporando el input que se acabo de crear que se llama tareas entre
     corchetes ya que ahi se va a pasar la variable
     y le asigno el array de tareas del padre y ambos tiene que ser del mismo objeto-->
     <div>
          <app-lista [tareas]="arrTareas"></app-lista> 
     </div>
